h2{
    color:rgb(43, 226, 101);
    background-color: tomato;
    text-align:center;
}

b{
    color: blueviolet;
    background-color: aqua;
    font-size:25px;
}
div{
    background-color:rgb(255, 220, 245);
    padding:9px;
    margin: 9px;
}
img{
    border:9px solid tomato;
    border-radius:20px;
    box-shadow:9px 9px 9px blueviolet;
    width: 300px;
}